[submodule "BCU_java_util_common"]
	path = BCU_java_util_common
	url = https://github.com/battlecatsultimate/BCU_java_util_common.git
[submodule "app/src/main/java/com/mandarin/bcu/BCU_java_util_common"]
	path = app/src/main/java/com/mandarin/bcu/BCU_java_util_common
	url = https://github.com/battlecatsultimate/BCU_java_util_common.git
[submodule "app/src/main/java/common/BCU_java_util_common"]
	path = app/src/main/java/common/BCU_java_util_common
	url = https://github.com/battlecatsultimate/BCU_java_util_common.git
[submodule "app/src/main/java/BCU_java_util_common"]
	path = app/src/main/java/BCU_java_util_common
	url = https://github.com/battlecatsultimate/BCU_java_util_common.git
