<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mandarin.bcu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".BackgroundList"
            android:screenOrientation="locked"/>
        <activity android:name=".MedalList"
            android:screenOrientation="locked"/>
        <activity
            android:name=".LineUpScreen"
            android:hardwareAccelerated="true"
            android:screenOrientation="locked" />
        <activity
            android:name=".ImageViewer"
            android:hardwareAccelerated="true"
            android:screenOrientation="locked" />
        <activity
            android:name=".StageInfo"
            android:screenOrientation="locked" />
        <activity
            android:name=".StageList"
            android:screenOrientation="locked" />
        <activity
            android:name=".CheckUpdateScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnemySearchFilter"
            android:screenOrientation="locked" />
        <activity
            android:name=".EnemyInfo"
            android:screenOrientation="locked" />
        <activity
            android:name=".EnemyList"
            android:screenOrientation="locked" />
        <activity
            android:name=".ConfigScreen"
            android:screenOrientation="locked" />
        <activity
            android:name=".ApkDownload"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".UnitInfo"
            android:screenOrientation="locked" />
        <activity
            android:name=".DownloadScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".SearchFilter"
            android:screenOrientation="locked" />
        <activity
            android:name=".MapList"
            android:screenOrientation="locked" />
        <activity
            android:name=".AnimationViewer"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mandarin.bcu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>